<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Purchase Orders</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">List of Purchase Orders</div>
  <div class="panel-body">

    <table id ="POCatalog" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Plant</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Cost</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="PORow" th:each="po : ${pos}">
                <td th:text="${po.plant.description}"></td>
                <td th:text="${po.startDate}"></td>
                <td th:text="${po.endDate}"></td>
                <td th:text="${po.cost}"></td>
                <td th:text="${po.status}"></td>
                <td>
                	<div th:if="${po.status.toString() != 'CLOSED'}" th:text="'Not Necessary'"></div>
                	<div th:if="${po.status.toString() == 'CLOSED'}">
                		<div th:if="${po.invoice == null}" th:text="'Invoice Not Sent'"></div>
                		<div th:if="${po.invoice != null}">
                			<div th:if="${po.remittanceAdvice == null}" th:text="'Invoice Sent'"></div>
                			<div th:if="${po.remittanceAdvice != null}" th:text="'Invoice Payed'"></div>
                		</div>
                	</div>
                </td>
                <td>
                	<div th:if="${po.status.toString() == 'CLOSED'}">
		                <form th:if="${po.invoice == null}" style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/invoice'}">
		                	<input type="hidden" name="poId" th:value="${po.poId}" />
		                	<button class="btn btn-default btn-xs" type="submit"><span>Send Invoice</span></button>
		                </form>
		                
		                <div th:if="${po.invoice != null}">
		                	<form th:if="${po.remittanceAdvice == null}" style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/reminder'}">
		                		<input type="hidden" name="poId" th:value="${po.poId}" />
		                	<button class="btn btn-default btn-xs" type="submit"><span>Send Reminder</span></button>
		                </form>
		                </div>
	                </div>
	                <div th:if="${po.status.toString() == 'PENDING_CONFIRMATION'}">
	                	<form style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/approve'}">
	                		<input type="hidden" name="poId" th:value="${poId}" />
	                		<button class="btn btn-default btn-xs" type="submit"><span>Approve Purchase Order</span></button>
	                	</form>
	                	<form style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/reject'}">
	                		<input type="hidden" name="poId" th:value="${po.poId}" />
	                		<button class="btn btn-default btn-xs" type="submit"><span>Reject Purchase Order</span></button>
	                	</form>
	                </div>
	                <div th:if="${po.status.toString() == 'OPEN'}">
	                	<form style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/close'}">
	                		<input type="hidden" name="poId" th:value="${po.poId}" />
	                		<button class="btn btn-default btn-xs" type="submit"><span>Close Purchase Order</span></button>
	                	</form>
	                </div>
	                <div th:if="${po.status.toString() == 'PENDING_UPDATE'}">
	                	<div th:each="up : ${po.updates}">
	                		<div th:if="${up.status.toString() == 'OPEN'}">
	                			<form style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/updates/'+${up.updateId}+'/accept'}">
		                			<input type="hidden" name="poId" th:value="${po.poId}" />
		                			<input type="hidden" name="upId" th:value="${up.updateId}" />
		                			<button class="btn btn-default btn-xs" type="submit"><span>Accept Update</span></button>
		                		</form>
	                			<form style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/pos/'+${po.poId}+'/updates/'+${up.updateId}+'/reject'}">
		                			<input type="hidden" name="poId" th:value="${po.poId}" />
		                			<input type="hidden" name="upId" th:value="${up.updateId}" />
		                			<button class="btn btn-default btn-xs" type="submit"><span>Reject Update</span></button>
		                		</form>
	                		</div>
	                	</div>
	                </div>
 				</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-default" th:href="@{/plants}">Plants</a>
    </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>