<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Plant Details</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Plant Details</div>
		<div class="panel-body">
			
			<table class="table table-bordered table-striped">
		        <tr>
	                <th>Name</th>
	                <td th:text="${plant.name}"></td>
	            </tr>
	            <tr>
	                <th>Description</th>
	                <td th:text="${plant.description}"></td>
	            </tr>
	            <tr>
	                <th>Price</th>
	                <td th:text="${plant.price}"></td>
	            </tr>
			</table>
			
			<a class="btn btn-default" th:href="@{/plants}">Back</a>
		
		</div>
	</div>
</div>
</body>
</html>