<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Purchase Orders</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
	<div class="panel-heading">Welcome to Rentit</div>
	<div class="panel-body">
		<a class="btn btn-default" th:href="@{/pos}">Purchase Orders</a>
		<a class="btn btn-default" th:href="@{/plants}">Plants</a>
    </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>